version: "3.9"
services:
  billing_api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: billing_api
    restart: unless-stopped
    env_file:
      - .env
    expose:
      - "8000"
    ports:
      - "8000:8000"
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    read_only: true
    tmpfs:
      - /tmp
    networks:
      - docker_default

networks:
  docker_default:
    external: true
